tensorflow==2.16.1
Flask==2.2.5
opencv-python==4.9.0.80 # Downgrade to a version that should still work with NumPy 1.x
numpy==1.23.5        # Sticking with this for TF compatibility
streamlit==1.36.0
requests
Pillow==10.4.0
pandas==2.2.2
